* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f9;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #1f2937;
    color: white;
    height: 100vh;
    position: fixed;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #374151;
}

/* CONTENT */
.content {
    margin-left: 230px;
    padding: 20px;
}

h1 {
    margin-bottom: 15px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #1f2937;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* BUTTON */
.btn {
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background: #2563eb;
    color: white;
}

.btn-danger {
    background: #dc2626;
    color: white;
}

/* FORM */
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 0;
    }
}

/* DASHBOARD */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.card h3 {
    font-size: 16px;
    color: #6b7280;
}

.card p {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}

.card.buku { border-left: 6px solid #2563eb; }
.card.anggota { border-left: 6px solid #16a34a; }
.card.pinjam { border-left: 6px solid #dc2626; }

.content {
    padding: 30px;
}

.form-box {
    background: white;
    padding: 25px;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.form-box label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn {
    margin-top: 20px;
    background: #2563eb;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.btn-secondary {
    margin-left: 10px;
    background: #9ca3af;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
}
